<component name="ArtifactManager">
  <artifact type="war" name="spring-advanced:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-advanced-tutorial-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-advanced:war exploded" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="dir-copy" path="$PROJECT_DIR$" />
        </element>
      </element>
    </root>
  </artifact>
</component>